* {
  color: black;
  width: 18vw;
}

.outer-table {
  background-color: #FCBE1D;
  border-collapse: collapse;
  border-radius: 1vw;
  width: 80vw;
}

.outer-table td {
  padding: 1vw;
  flex-grow: 1;
  
}
.title {
  font-weight: bold;
  font-size: 2vw;

}



.image-cell img {
  border-radius: 3vw;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vw; 
  padding-right: 1vw;
  background: repeating-linear-gradient(
    to bottom,
    black,
    black 0.5vw, /* Długość kreski w vw */
    transparent 0.5vw, /* Szerokość przerwy w vw */
    transparent 2.2vw /* Łączna wysokość kreski i przerwy w vw */
  );
  background-position: right center; /* Umiejscowienie linii po prawej stronie */
  background-repeat: no-repeat; /* Nie powtarza w poziomie */
  background-size: 0.1vw 100%; /* Grubość linii 2px, na całej wysokości */
}



.square-image {
  width: 15vw; /* Powiększenie szerokości kwadratowych obrazków */
  height: 15vw;
}

.portrait-image {
  height: 18vw; /* Dopasowanie wysokości prostokątnych obrazków */
  width: auto;
}

.landscape-image {
  width: 18vw; /* Dopasowanie szerokości dla obrazków szerokich */
  height: auto;
}


.actions-cell {
  text-align: center;
  vertical-align: middle;
  width: 1vw;
}

.actions-cell table {
  width: 1vw;
  
}

.actions-cell td {

  padding: 0;
}

.actions-cell button {
  width: 3vw;
  height: 3vw;
  background-color: yellow;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1vw; /* Dopasowanie wielkości czcionki */
  display: flex;
  align-items: center;
  justify-content: center;
}


.actions-cell button:hover {
  background-color: darkorange;
}

.detail-table {
  background-color: rgb(254, 247, 218);
  border-radius: 1vw;
  margin: -0.5vw;
  width: 60vw;
  height: 10vw;
}

.detail-table td {
  border-bottom: 2px solid black; /* Obramowanie tylko dolnej krawędzi */
  border-right: 2px solid black;  /* Obramowanie tylko prawej krawędzi */
}

.detail-table td:last-child {
  border-right: none; /* Usuń obramowanie z prawej krawędzi ostatniej kolumny */
}

.detail-table tr:last-child td {
  border-bottom: none; /* Usuń obramowanie z dolnej krawędzi ostatniego wiersza */
}


.date, .ticket-price, .address {
  font-size: 1vw;
}

.location-img img {
  width: 3vw;
  margin: 0vw;
  padding: 0%;

}

.vote-button {
  width: 2.2vw;
  height: 2.5vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  overflow: hidden; 
  justify-content: center;
  align-items: center;
  background-color: rgb(255,189,15);
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1vw;
}

.wider-button{
  border-radius: 1vw;
  width: 5vw;
  height: 2.5vw;
  font-size: 1.5vw;
  background-color: black;
  color: #FCBE1D;
  align-items: center;
  justify-content: center;
}

.votes {
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  font-size: 1vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 3vw;
  height: 2.5vw;
}

.tabelka{
  width: 1vw;

}
.tabelka td{
  padding: 0;
  
}